*{
  font-family: Kanit;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: #76ADFF;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.7s ease;
  z-index: 10;
}

.loader__spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  z-index: 12;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}


.loader.hidden {
animation: fadeOut 1s;
animation-fill-mode: forwards;
}

@keyframes fadeOut {
100% {
    opacity: 0;
    visibility: hidden;
}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(118, 173, 255, 0);
  width: 100%;
  height: 70px;
  padding-left: 0.5%;
  box-shadow: 0 8px 6px -7px #777777;
  transition: all 0.7s ease;
  z-index: 100;
}

.navbar.scrolled {
  background-color: rgba(118, 173, 255, 1);
  height: 65px;
}
.navbar__content {
  display: flex;
  align-items: center;
}

.navbar__link, .navbar__dropdown {
  display: inline-block;
  margin-left: 1%;
  color: #FFFFFF;
  text-decoration: none;

}

.navbar__link.dropdown::after{
  content: "▼";
  margin-left: 5px;
  font-size: 0.75em;
}



.navbar__link#navbar__brand {
  margin-left: 20%;

}

.navbar__link .navbar__brand:hover {
  color: #EFEFEF;
  transition: all 0.3s ease;
}

.navbar__link:hover:not(#navbar__brand) {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: 8px;
  padding-top: 8px;
  transition: all 0.3s ease;

}

.navbar__content .align-right {
  display: flex;
  margin-right: 20%;
  margin-left: auto;
}

.align-right .navbar__icon {
  color: #FFFFFF;
  margin-left: 50%;
}

.align-right .navbar__icon:hover {
  color: #DDDDDD;
  transition: all 0.3s ease;

}

.navbar__brand {
  color: #FFFFFF;
  font-size: 1.17em;
  text-decoration: none;
  font-weight: bolder;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media screen and (min-width: 845px) {
    .header__bg {
      background-image: url("/background.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
    .header__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: 0 10%;
    }
}

@media screen and (max-width: 844px) {
    .header__bg {
      background-image: url("/background.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .header__wrapper {
      margin: 0 10%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;

    }
}

 .header__main {
  position: absolute;
  top: 45%;
  margin-left: 15%;
}

.header__title {
  color: #FFFFFF;
  font-size: 2.5em;
  font-weight: bolder;
}

.header__text {
  color: #FFFFFF;
  font-size: 1em;
}

.hr-long {
  width: 200%;
  color: #FFFFFF;
}

.navbar__dropdown:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.3s linear;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.toggle {
  display: none;

  color:#FFFFFF;
  margin-right: 10%;
  font-size: 1.5em;
}

@media screen and (max-width: 844px) {
  .navbar {
    top:0;
    left:0;
    width: 100%;
    background-color: #76ADFF;
    transition: height 0.5s ease;
  }
  .navbar__link:not(#navbar__brand), .navbar__content .align-right  {
    display: none;
  }

  .navbar__link#navbar__brand {
    margin-left: 10%;
  }

  .toggle {
    display: block;
    position: absolute;
    right: 10%;
    left: auto;
  }

  .navbar__content.show .navbar__link:not(#navbar__brand), .navbar__content.show .align-right{
    float:none;
    display: block;
    position: relative;
    margin-left: 15%;
    padding: 0;
    padding-bottom: 20px;
    white-space: nowrap;
    border:none;
  }

  .navbar__content.show .navbar__dropdown {
    display: block;
    margin-left: 0;
  }

  .navbar__content.show .dropdown-content {
    position: relative;
    margin-left: 15%;
    padding: 0;
    padding-bottom: 20px;
    white-space: nowrap;
    border:none;
    margin-bottom: 20px;
    width: 30%;
    min-width: 160px;
  }

  .navbar__content.show .toggle {
    margin-top: 15px;
  }

  .navbar__content .align-right .navbar__icon{
    margin-left: 1%;
  }


  .navbar__content.show {
    display: block;
    background-color: #76ADFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #EFEFEF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:active {
  background-color: #DADADA;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header {
  margin-top: 20px;
  height: 50vh;
}

.header:last-child {
  margin-top: 20px;
  height: 30vh;
}

.header__center {
  align-items: center;
  text-align:center;
}

.text-muted {
  color: #6c757d;
  font-size: 1.15rem;
}

.title-1, .title-2 {
  font-weight: normal;
}

.title-1 {
  font-size: 2.5em;
}

.title-2 {
  font-size: 2em;
}

.footer {
  display: flex;
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;*/
  background-color: #76ADFF;
  height: 65px;
  align-items: center;
  z-index: 100;
}

.footer__copyright {
  margin-right: auto;
  margin-left: 20%;
  color: #C8DEFF;
}
.footer .align-right {
  display: flex;
  margin-right: 20%;
  margin-left: auto;
}

.footer__link, .footer__icon {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.footer__icon:hover {
  color: #DDDDDD;
  transition: all 0.3s ease;
}

.align-right .footer__icon {
  margin-right: 50%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  
}

::-webkit-scrollbar-thumb {
  background: #D0D0D0;
}

::-webkit-scrollbar-thumb:hover {
  background: #CBCBCB;
}
